<?php
    //Paramètres fixes de connexion à la base PostGreSQL (SERVEUR PNC)
    define('HOST', 'localhost');
    define('PORT', '5432');
    define('DBNAME', 'flore');
    define('USER', 'monuser');
    define('PASSWORD', 'monpass');
    define('APPLI', 'ObsFlore');
?>
